body {
  background: white;
  margin: 0px;
}

#map-canvas {
  height: 500px;
  width: 750px;
  margin: 10px;
  border: 1px solid black;
}

#map-wrapper {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

#images {
  width: 100%;
}

#images img {
  width:100%;
}
