body {
  background: white;
}

#map-canvas {
  height: 500px;
  width: 750px;
  margin: 10px;
  border: 1px solid black;
}

#map-wrapper {
  position: fixed;
  right: 0px;
  top: 0px;
}

#images {
  width: 750px;
}

#images img {
  height: 500px;
  border: 1px solid gray;
  padding: 3px;
}
